@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

body,
html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.container-app {
  display: flex;
  flex-direction: column;
  width: 50em;
  margin: 20px auto;
  height: 100vh;
}

.logo {
  left: 25%;
  width: 800px;
  margin-bottom: -100px;
  margin-top: 0;
}
